@tailwind base;
@tailwind components;
@tailwind utilities;


.bg-image {
  background-image: url(assets/pared.jpg);
  background-size: 200px;
}

/* estilos que sobreescriben los de la libreria react- */
[data-rmiz-modal-content] {
  background-color: black;
  min-height: 100vh;
  height: 100%;
  min-width: 100vw;
  width: 100%;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}
[data-rmiz] {
  height: 100% !important;
}
[data-rmiz-content='found'] {
  height: 100% !important;
}
