@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
  /* outline: 1px solid tomato; */
}

.bg-image{
  background-image: url(assets/pared.jpg);
  background-size: 200px;
}